<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ecommerce Bodega</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="./../css/styles.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-vino">
      <a class="navbar-brand" href="./index.html">Heaven Wine</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./products.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./about.html">Quiénes somos</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">


          <li class="nav-item">
            <a class="nav-link" href="./login.html"><i class="fas fa-user"></i> Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./register.html"><i class="fas fa-user-plus"></i> Registrarse</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Quiénes somos</h1>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Acerca de Nosotros</h5>

              <p class="card-text">
                Somos una tienda en línea que se dedica a ofrecer productos de
                alta calidad y satisfacer las necesidades de nuestros
                clientes. Nuestro objetivo es brindar una experiencia única de
                compra en línea, donde los usuarios puedan encontrar una
                amplia variedad de productos y disfrutar de un servicio
                excepcional.
              </p>

              <p class="card-text">
                Nuestro equipo está conformado por personas apasionadas por
                los vinos y licores, que buscan ofrecer un servicio de
                calidad, con el fin de que nuestros clientes puedan disfrutar
                de una experiencia única de compra en línea.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-vino text-center text-white py-3">
    <p>&copy; 2023 Heaven Wine. Todos los derechos reservados.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>